.flex{
    display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.bg-skin{
    background-color: #FBF2F2;
}

.font-color-brown{
    color: #650300;
}

.font-color-black{
    color: #000;
}

.font-color-white{
    color: #fff;
}

.font-size-14{
    font-size: 14px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-24{
    font-size: 20px;
}

.font-size-32{
    font-size: 32px;
}

.font-size-36{
    font-size: 36px;
}

.font-size-42{
    font-size: 42px;
}

.font-size-48{
    font-size: 48px;
}

.font-size-64{
    font-size: 64px;
}

.font-bold{
    font-weight: bold;
}

.margin-btm-8{
    margin-bottom: 8px;
}

.margin-btm-16{
    margin-bottom: 16px;
}

.margin-btm-24{
    margin-bottom: 24px;
}

.margin-btm-48{
    margin-bottom: 48px;
}

.margin-btm-80{
    margin-bottom: 80px;
}

.margin-top-80{
    margin-top: 80px;
}

.margin-l-auto{
    margin-left: auto;
}

.color-black{
    color: #000;
}

.color-maroon-light{
    color: #AA0601
}

.text-align-start{
    text-align: start;
}

.btn-R{
    color: white;
    background: #AA0601;
    margin-top: 4px;
    padding: 6px 12px 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}