<header>
    <div class="container flex-space-between flex-align-center">
        <div class="logo"><a href="index.html"><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/logo-white.png?raw=true" alt="logo-glasses"></a></div>
        <ul class="menu flex-space-between">
            <li><a href="#" class="font-size-20">系列鏡框</a></li>
            <li><a href="#" class="font-size-20">門市據點</a></li>
            <li><a href="#" class="font-size-20">部落格</a></li>
            <li><a href="#" class="font-size-20">常見問題</a></li>
        </ul>
    </div>
</header>
<!-- 
<h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>
-->