footer{
  background: #AA0601;
  color: white;
  a{
    color: white;
  }
  .footer-upper{
    //smargin-top: 48px;
    padding: 48px 0px 32px;
    .menu-area{
      gap: 48px;
      a{
        display: inline-block;
        padding: 12px 0;
      }
    }
    .icon-area{
      gap: 32px;
      img{
        display: inline-block;
        width: 48px;
      }
    }
  }

  .footer-mid-contact{
    font-size: 36px;
    padding-bottom: 32px;
    border-bottom: 1px solid white;
    span{
      margin-right: 20px;
      font-size: 36px;
      line-height: 1.5;
      vertical-align: middle;
    }
  }

  .footer-bottom{
    padding: 32px 0;
    ul{
      gap: 48px
    }
  }
}

@media (max-width: 768px) {
  footer{
    .footer-upper{
      padding-bottom: 24px;
      .menu-area{
        width: 70%;
        gap: 6%
      }
      .icon-area{
        gap: 16px;
        img{
          display: inline-block;
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  footer{
    .container{
      //max-width: 680px;
      padding: 24px 14px 24px 14px;
    }
    .footer-over{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding-bottom: 24px;
      .footer-upper{
        padding: 0px;
        align-items: start;
        .menu-area{
          display: none;
        }
        .icon-area{
          padding: 0px;
          img{
            display: inline-block;
            width: 24px;
          }
        }
      }
      .footer-mid-contact{
        font-size: 16px;
        border-bottom: 0px;
        padding-bottom: 0px;
        span{
          font-size: 16px
        }
      }
    }
    .footer-bottom{
      padding: 16px 0px 0px;
      flex-direction: column;
      gap: 8px;
      ul{
        gap: 8px;
        flex-direction: column;
        align-items: start;
      }
    }
  }
}