p{
    color: #650300;
}

h1{
    color: #650300;
}

h2{
    color: #650300;
    padding: 80px 0 48px;
}

h3{
    color: #650300;
}

.homepage-bg-top{
    background-image:url("https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/home-header.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .homepage-top{
        padding-top: 296px;
        padding-bottom: 296px;
    }
}

.homepage-slogan{
    padding-bottom: 80px;
    ul{
        gap: 24px;
        text-align: center;
        align-items: flex-start;
        .slogan-icon{
            padding: 32px 0 24px;
        }

        li{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width:306px;
            img{
                width: 83px;
            }
        }
    }
}

.homepage-classical{
    .classical-card{
        gap: 24px;
        margin-bottom: 80px;
        li{
            text-align: center;
            p{
                color: #AA0601;
                font: italic normal 900 48px/72px Roboto;
                font-size: 48px;
                font-size: clamp(24px, 4vw, 48px);
            }
        }
    }
}

.homepage-brand{
    background-image:url("https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/index-bg.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    ul{
        padding-bottom: 80px;
        li{
            text-align: center;
            background: #fff;
            p{
                padding: 8px 0 8px;
                color: #AA0601;
                font: italic normal 900 48px/72px Roboto;
                font-size: 48px;
                //font-size: clamp(24px, 4vw, 48px);
            }
        }
    }
}

.homepage-recommand{
    .recommand-card{
        gap: 24px;
        margin-bottom: 80px;

        li{
            box-shadow: 0px 2px 6px #00000029;
            border: 1px solid #DEE2E6;
            border-radius: 4px;
            opacity: 1;
            .text-area{
                margin: 16px;
                p{
                    color: black;
                }
                .recommand-content{
                    min-height: 72px;
                    margin-bottom: 48px;
                }
                .recomand-date{
                    font-size: 14px;
                    color: #707070;
                }
            }
        }
    }
}

.homepage-contact{
    max-width: 666px;
    .form-text {
        width: 100%;
        padding: 6px 12px;
        margin-top: 8px;
        background: #FBF2F2;
        border: 1px solid black;
        line-height: 1.5;
    }
    .form-text-opinion{
        height: 136px;
    }
    .mouse-pt {
        cursor: pointer;
    }
    .form-index-checkbox{
        width: 21px;
        height: 21px;
        margin-right: 4px;
    }
    .btn-R{
        padding: 16px 176px;
    }

}

@media (max-width: 768px) {
    .homepage-bg-top{
        background-image:url("https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/home-header-sm.png?raw=true");
    }

    
    .homepage-slogan{
        ul{
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                width:48%;
            }
        }
    }

    .homepage-classical{
        .classical-card{
            flex-direction: column;
            img {
                width: 336px;  
            }
        }
    }

    .homepage-brand{
        background-image:url("https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/index-bg-sm.png?raw=true");
    
        ul{
            flex-direction: column;
            gap:24px;
            li{
                width:100%;
            }
        }
    }

    .homepage-recommand{
        .recommand-card{
            gap: 24px;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                width:48%;
            }
        }
    }

    .homepage-contact{
        max-width: 576px;
        padding: 0px;
        .contact-memo{
            font-size: 16px;
        }
        .btn-R{
            padding: 16px 136px;
        }
    }
}