<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/linker'); -%>
    <title>Glasses</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat"> -->
    <ul class="container option-button flex-space-between">
        <li><a href="">OPTICAL</a></li>
        <li><a href="">SUNGLASSES</a></li>
        <li><a href="">FUNCTIONAL</a></li>
    </ul>
    <div class="head-img flex-space-between">
        <div class="head-img-1"><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-header-1.png?raw=true" alt=""></div>
        <div class="head-img-2"><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-header-2.png?raw=true" alt=""></div>
    </div>
    <div class="container product">
        <div class="product-title">
            <h1 class="font-size-42">Celluloid Combi</h1>
            <h2 class="font-size-32">賽璐珞鈦金屬混合鏡框</h2>
        </div>
        <ul class="flex-space-between">
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-1.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-2.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-3.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-4.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-5.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-6.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-1.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-2.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-3.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-4.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-5.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
            <li>
                <div><img src="https://github.com/InFannity/HexSchool-Week4/blob/main/assets/images/product-6.png?raw=true" alt=""></div>
                <div class="product-item flex-space-between">
                    <p class="color-black">BJ41600S</p>
                    <p class="color-maroon-light">NTD3,490</p>
                </div>
                <div class="product-boxarea">
                    <div class="box-1"></div>
                    <div class="box-2"></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pages">
        <div class="pages-next"><a href="">上一頁</a></div>
        <div class="pages-idx"><a href="">1</a></div>
        <div class="pages-idx"><a href="">2</a></div>
        <div class="pages-idx"><a href="">3</a></div>
        <div class="pages-idx"><a href="">4</a></div>
        <div class="pages-idx"><a href="">5</a></div>
        <div class="pages-next"><a href="">下一頁</a></div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
